my jarvis v1.json
{
  "name": "my jarvis v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "173ff267-90e3-4bd5-a769-ed3b0cfae4d1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1376,
        -288
      ],
      "id": "5d681e71-6e44-40a7-99da-20156a0765e7",
      "name": "Webhook",
      "webhookId": "173ff267-90e3-4bd5-a769-ed3b0cfae4d1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=respond to your boss request {{ $json.body.message }}",
        "options": {
          "systemMessage": "# Role: Jarvis for Nandini\n**Tone:** Professional, concise (1-2 sentences max).\n**Timezone:** Asia/Kolkata.\n\n# Critical Voice Rules\n1. **NO EMOJIS.**\n2. **NO LINKS:** Never output URLs or markdown links like \"[Event](...)\"\n3. **NO ASTERISKS:** Do not use `*` or `**` for bolding. It ruins the text-to-speech. Output CLEAN, PLAIN text only.\n\n## Tool Capabilities\n1. **Gmail:** Read, Send, Draft. Use professional HTML for the email body. **Sign as \"Nandini\".** MUST ask for Recipient, Subject, and Body before sending.\n2. **Calendar:** Schedule and Check events. Always check conflicts first. Use future dates.\n3. **Tasks:** Create and manage Google Tasks.\n\n## Operational Rules\n- **Don't Guess:** If details (time, email, message) are missing, **ask for them immediately**.\n- **Confirmation:** Briefly confirm when an action is done (e.g., \"Meeting scheduled for 2 PM.\").\n- **Privacy:** Handle personal data securely."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -992,
        -176
      ],
      "id": "fd80ccc2-1ebd-432e-83dd-6d10594afbd3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1536,
        16
      ],
      "id": "a3dac078-b565-499b-8396-18b6c3d60f38",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BsgLsYdW19coBgYK",
          "name": "OpenRouter account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply:$json.output }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -32,
        -160
      ],
      "id": "1ab39a5f-6c91-4b0d-ac29-bed6a54a9eb1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -896,
        1328
      ],
      "id": "378f5f98-2496-405b-afa1-04eeb1a75b6a",
      "name": "Send a message in Gmail1",
      "webhookId": "04288b62-75c6-455b-b653-b5ab23291aa3",
      "credentials": {
        "gmailOAuth2": {
          "id": "S8pklYpR5TlCukve",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -768,
        1280
      ],
      "id": "7a811a37-0032-4e1f-bf43-9fa65d4159fd",
      "name": "Reply to a message in Gmail1",
      "webhookId": "1f0898cd-72db-4ea7-8200-d119e86a6aae",
      "credentials": {
        "gmailOAuth2": {
          "id": "S8pklYpR5TlCukve",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -624,
        1312
      ],
      "id": "01d7cc38-e680-446b-8eea-fd7d6b046fe4",
      "name": "Get a message in Gmail1",
      "webhookId": "148a3166-7038-4e5b-ad9a-ac864b00f132",
      "credentials": {
        "gmailOAuth2": {
          "id": "S8pklYpR5TlCukve",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a message in Gmail",
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `Pass the event id of the event to delete`, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -320,
        1328
      ],
      "id": "37e50a08-af99-46fb-8a89-2f172017c1c8",
      "name": "Delete a message in Gmail1",
      "webhookId": "964b8af4-678b-451d-96b7-f4804366a67b",
      "credentials": {
        "gmailOAuth2": {
          "id": "S8pklYpR5TlCukve",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -480,
        1328
      ],
      "id": "9b7da974-6bc6-4244-a97f-cf822a077e33",
      "name": "Add label to message in Gmail1",
      "webhookId": "c2e3b83c-d2f6-49f5-9523-c36d0aeba80b",
      "credentials": {
        "gmailOAuth2": {
          "id": "S8pklYpR5TlCukve",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "barbie.engineer.xoxo@gmail.com",
          "mode": "id"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ true }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -96,
        864
      ],
      "id": "87bb1427-f31e-49a4-9611-7d6173196b8f",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "neGi1MWi50VY1J8o",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Check if a slot is available on my calendar",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "barbie.engineer.xoxo@gmail.com",
          "mode": "list",
          "cachedResultName": "barbie.engineer.xoxo@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Asia/Kolkata",
            "mode": "list",
            "cachedResultName": "Asia/Kolkata"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        64,
        848
      ],
      "id": "21efcd30-b2a7-4795-8130-c325d98ca4e3",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "neGi1MWi50VY1J8o",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get an event in Google Calendar",
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "barbie.engineer.xoxo@gmail.com",
          "mode": "list",
          "cachedResultName": "barbie.engineer.xoxo@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        224,
        864
      ],
      "id": "b54d94bf-54fd-40b9-93a4-9ae938662e47",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "neGi1MWi50VY1J8o",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "barbie.engineer.xoxo@gmail.com",
          "mode": "list",
          "cachedResultName": "barbie.engineer.xoxo@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -240,
        848
      ],
      "id": "6dc38816-0ea8-4faa-ace8-bc3817d1e57d",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "neGi1MWi50VY1J8o",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a task in Google Tasks",
        "task": "MTYwNDc2OTc1OTc0MDUyODQ1MzY6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -528,
        32
      ],
      "id": "762fd664-6029-436c-a3cd-7f20c4574eb7",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "au1896OLQcL9hu9E",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MTYwNDc2OTc1OTc0MDUyODQ1MzY6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -336,
        32
      ],
      "id": "746ebb9c-b630-4c26-ac81-533a3e8371f7",
      "name": "Delete a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "au1896OLQcL9hu9E",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "task": "MTYwNDc2OTc1OTc0MDUyODQ1MzY6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -128,
        32
      ],
      "id": "434b8c6b-543e-4a55-a375-79292e637428",
      "name": "Update a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "au1896OLQcL9hu9E",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "task": "MTYwNDc2OTc1OTc0MDUyODQ1MzY6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        48,
        32
      ],
      "id": "6b2682c8-ddf1-43a2-8278-7fd124a1cecc",
      "name": "Get a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "au1896OLQcL9hu9E",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1232,
        48
      ],
      "id": "7d68b257-efb1-4452-8489-be28f6fe333d",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -1040,
        304
      ],
      "id": "3149de2e-4d3b-4c9c-9bb3-8f94c302c643",
      "name": "Think"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "nanbat.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "128",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "146.196.35.154",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9b789e93539c5508-DEL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "146.196.35.154, 172.69.203.154",
            "x-forwarded-host": "nanbat.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-100-5f47bdbc9d-qn7jz",
            "x-is-trusted": "yes",
            "x-real-ip": "146.196.35.154"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hey Jarvis can you add Male Nandini Khandelwal in my to do list",
            "sessionId": "49b59287-4706-4936-8867-4c1fd92ff085"
          },
          "webhookUrl": "https://nanbat.app.n8n.cloud/webhook/173ff267-90e3-4bd5-a769-ed3b0cfae4d1",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f6097dc7-a5f2-434c-9b15-9ca636609d5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be0bb5e26d0dd22a90bac88b6655a73aed84fa500c484d2b559046759ff4443e"
  },
  "id": "xaagwdIIXLPCz66G",
  "tags": []
}